<button class="gb-button secondary large"><div class="loader"></div><span>large</span></button>
<button class="gb-button secondary"><div class="loader"></div><span>default</span></button>
<button class="gb-button secondary small"><div class="loader"></div><span>small</span></button>
