<button class="gb-button primary"><div class="loader"></div><span>Primary</span></button>

<button class="gb-button secondary"><div class="loader"></div><span>Secondary</span></button>

<button class="gb-button revenue"><div class="loader"></div><span>Revenue</span></button>