<button class="gb-button large disabled">
<div class="loader" style="display:inline-block;"></div><span>Guardar</span></button>

<br><br><br><br>

<button class="gb-button primary large">
<div class="loader"></div><span>Try me!</span></button>
